.cardGrid{
  width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 30vh;
  }
  
  .card{
    list-style: none;
  }

  .one{
    grid-area: 1 / 1 / 2 / 2;
  }

  .two{
    grid-area: 3 / 4 / 4 / 5;
  }

  .three{
    grid-area: 5 / 2 / 6 / 3;
  }
  
  .card:before{
    width: 100%;
  }
  
  .cardBackground{
    width: 100%;
    background-position: center;
    border-radius: 10px;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
      filter 300ms linear,
      transform 300ms linear;
  }

  .cardBackground img{
    width: 100%;
  }
  
  .card:hover .cardBackground{
    transform: scale(1.05) translateZ(0);
  }
  
  .card:not(:hover) .cardBackground{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(9px);
  }

  
  .cardCategory{
    color: rgba(255,255,255,0.6);
    font-size: 0.9em;
    margin-bottom: var(0px);
    text-transform: uppercase;
  }
  
  .cardHeading{
    color: rgba(255,255,255,0.9);
    font-size: 1.9em;
    line-height: 1.4;
    word-spacing: 100vw;
  }